@charset "UTF-8";

ul {
    padding: 0;
    list-style: none;
    background-color:red;
}

ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}

ul li a {
    display: block;
    padding: 8px 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

ul li a:hover {
    color: #fff;
    background: #b0e913;
}

ul li ul.dropdown {
    min-width: 100%;
    /* Set width of the dropdown */
    background: #098d26;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

ul li:hover ul.dropdown {
    display: block;
    /* Display the dropdown */
}

ul li ul.dropdown li {
    display: block;
}

.topnav-right {
    float: right;
}

.topnav-left {
    float: left;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.site-header {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
}

.site-logo {
    float: left;
}

.title-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: black;
}

.social-media {
    float: right;
    margin-top: 20px;
}

.active {
    background-color: rgb(9, 83, 28);
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    color: rgb(31, 30, 30);
    text-align: center;
}

@media screen and (max-width: 500px) {
    .navbar ul li a {
        float: none;
        display: block;
    }
    ul li {
        float: none;
        display: block;
    }
    .topnav-right {
        float: none;
        display: block;
    }
    .footer {
        width: 100%;
        float: none;
    }
    .emergency-info {
        float: none;
        display: block;
    }
    .emergency-info-text {
        float: none;
        display: block;
    }
    .emergency-map {
        float: none;
        display: block;
    }
}

.grid-container {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: auto auto auto;
    background-color: rgb(250, 250, 250);
    padding: 10px;
}

.grid-item {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.our-vision {
    font-size: x-large;
    font-family: cursive;
    background-color: rgb(154, 221, 176);
    text-align: center;
}

.target-section {
    /*border: 1px solid;*/
    border-radius: 15px;
    background-color: honeydew;
    font-size: medium;
    font-family: cursive;
}

.site-info {
    width: 100%;
    height: 400px;
    /*border: 2px solid;*/
    border-radius: 15px;
    background-color: honeydew;
    font-size: medium;
    font-family: cursive;
}

.site-info-text {
    float: left;
    width: 500px;
    height: 300px;
    text-align: left;
}

.site-map {
    float: left;
    width: 500px;
    height: 300px;
    text-align: left;
}

.info-button {
    border: none;
    color: white;
    border-radius: 15px;
    background-color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.adv{
	width:100%;
	background-color: honeydew;
	display:flex;
	justify-content:space-around;
	align-items:center;
}

.submit-btn1 {
	width: 150px;
	height: 30px;
	font-size: 14px;
}

.submit-btn1:hover{
	background-color:red;
}

.rounded {
	border-radius: 12px;
	border: 1.5px solid black;
}

.color-btn {
	background-color: rgb(255, 128, 64);
}

   .table1 {  
  border: 1px solid #ddd;
  text-align: left;
  width:100%
}

.th1, .td1 {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  padding:20px;
}

.tr1:hover{
	background-color:red;
}

tr:nth-child(even) {background-color: #f2f2f2;}


